*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background:#080808;
    color:#fff;

}

#header{
    width:100%;
    /*height:100vh;*/
    background-image:url(images/srikari-bg4.jpeg);
    background-size:contain;
    background-position:right;
    background-repeat:no-repeat;
    height:100%;
    margin:80px;
}

.container{
    padding:40px 40px 40px;
    /*font-size:100px;*/
    align-items: left;
    
}

/*for menu  image */
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;

}

.logo{
    width:140px;

}

/*for the menu display*/
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 80px;
}

/* for the menu display itself but for the hyperlinks*/
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size:60px;
    position:relative;
}

/*to generate a hover effect for the hyper links list*/
nav ul li a::after{
    content:'';
    width:0%;  /* to make the line hidden, only when we hover over it, it should be visible*/
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
}

nav ul li a:hover::after{
    width:100%;


}

/* for the ui/ux design*/
.header-text p{
    margin-top:10%;
    font-size:60px;

}

/*for the hello, i am...*/
.header-text h1{
    font-size:80px;
    margin-top:20px;
}

/*for the name, kowta srikari...*/
.header-text h1 span{
    color:#ff004f;

}


/* for about page*/
#about{
    padding:100px 0px;
    color:#ababab;
}
 

.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.about-col-1{
    flex-basis:35%;  /* width of the column will be 35% */

}

.about-col-1 img{
    width:100%;
    border-radius:25px;
    height:90%
}

.about-col-2{
    flex-basis:60%; /* about me will move to the right*/

}

.subtitle{
    font-size:90px;
    font-weight:600;
    color:#fff;
    text-align:center;
}

.subtitle p{
    color:#fff;
    font-size:50px;
}

.about-me-content{
    font-size:60px;  
}

.tab-titles{            /*titles of education,skiils etc, (ig)*/
    display:flex;
    margin:20px 0px 40px;

}

.tab-links{
    margin-right:50px;
    font-size:70px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}


.tab-links::after{      /*for the education,skills etc hovering*/
    width:0;
    content:'';
    height:3px;
    background:#DE3163;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}

.tab-links.active-link::after{      /*hovering*/
    width:100px;
}

.tab-contents ul li span{
    font-size:50px;
    color:#DE3163;
}

.tab-contents ul li {       /*contents within the skills,education etc*/
    font-size:40px;
    list-style:none;
    margin:10px 0px;

}

.tab-contents{          /*for hiding the contents initially*/
    display:none;
}


.tab-contents.active-tab{       /*for displaying the contents when selected*/
    display:block;
}

/* ended about page*/

/*for my portfolio page*/
#portfolio{
    padding:50px 0px;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.work{              /*for the content to be shown within the grid ig*/
    border-radius:15px;
    position:relative;
    overflow:hidden;
}

.work img{          /*the images within the portfolio page*/
    width:75%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;
    height:100%;
}

.layer h2{         /*for the content within the my work page, social media n all*/
    font-size:90px;
    font-weight:500px;
    margin-bottom:30px;
    text-align: start;

}

.project-heading{               /*for the project headings*/
    
        font-size:60px;
        color:#fff;
}

.project-content{               /*for brief explaation of project*/
    font-size:40px;
    color:#fff;
}

table{                          /*for carnatic music*/
    /*font-size:40px;*/
    width:100%;
    border:1px solid;
    text-align: center;
    table-layout:fixed;
    margin-top: 0%;
    vertical-align: middle; 
    border-collapse: collapse;
}


th,td{
    font-size:40px;
   width:100%;
    border:1px solid;
    text-align: center;
    table-layout:fixed;
    margin-top: 0%;
    vertical-align: middle;
}


.layer p{
    font-size:40px;
}
/*for the grid hovering with the gradient coloring*/
.layer{
    width:80%;
    height:0%;  /*to hide the content in the music app etc, it should display only when the cursor is hovered over it*/
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius:20px;
    position:absolute;
    left:0px;
    bottom:0px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    transition:height 0.5s;
}

.layer a{               /*for the link icon but the icon is not visible, idk why*/
    margin-top:20px;
    color:#ff004f;
    font-size:2000px;
    text-decoration:none;
    line-height:20px;
    background:#fff;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;
}

.work:hover img{        /*whenever you hover over the music app etc, the pic shld zoom in*/
    transform:scale(1.1);

}

.work:hover .layer{
    height:100%;
}

.button{                            /*for the button hovering*/
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration:none;
    color:#fff;
    transition: background 0.5s;
    font-size:40px;
}

.button:hover{
    background:#ff004f;

}


/* for contact me page*/

.linkedin{
    color:white;
    /*text-decoration: none;*/
    font-size:50px;
    

}
.contact-left{
    align-items: center;
}

.button.CV{                 /*for downlaod CV button*/
    display:block;
    background:#ff004f;
    align-items: center;
    height:30%;
    

}

/*.emailphone {               /*for phone number and email
    font-size:50px;
    /*text-align:center;
    
    
}*/

contact-left{
    flex-basis:35%;
    display:inline-block;
}

.emailphone{
    font-size:50px;
}

contact-left p{
    margin-top:30px;
    font-size:100000px;

}

contact-left p i{
    color:#ff004f;
    margin-right:15px;
    /*font-size:40px;*/
}


/*for the page size responsiveness */
@media only screen and (max-width:600px){
    #header{
        backgorund-image:url(images/phone-background.png);
    }

    .header-text{
        margin-top: 100%;
        font-size:20px;
    }

    .header-text h1{
        font-size:50px;
        
    }
}


